.pageOfTasks {
    padding: 20px;
    width: 100%;
    background-color: #2f3033;
    color: white;
    border-radius: 9px 0 0;
    margin: 27px 0 0 7px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.pageOfTasks h1 {
    color: rgb(124, 248, 232);
    width: fit-content;
    background-color: #252b2c82;
    padding: 10px 10px 10px 30px;
    margin-left: -20px;
    border-radius: 0px 6px 6px 0px;
}
.pageOfTasks h1 i {
    margin-right: 15px;
}
.pageOfTasks .themes {
    position: absolute;
    top: 10px;
    right:10px ;
    background-color: #726c6c;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.pageOfTasks .themes button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.pageOfTasks .themes .bodyOfThemes {
    background-color: var(--main-color);
    position: absolute;
    right: 10px;
    top: 24px;
    padding: 10px;
    border-radius: 6px;
    width: 280px;
}
.pageOfTasks .themes .bodyOfThemes div:nth-child(1) {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.pageOfTasks .bodyOfThemes .theme {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: solid 1px white;
}
.pageOfTasks .theme img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pageOfTasks .bodyOfThemes button {
    background-color: #a31313;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 15px;
}
.pageOfTasks .bodyOfThemes button i {
    margin-right: 5px;
}
.pageOfTasks .addTask {
    position: absolute;
    bottom: 20px;
    padding: 3px 20px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #272727db;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.pageOfTasks .addTask input {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    padding: 10px 0;
    outline: none;
}
.pageOfTasks input.bisque::placeholder {
    color: rgba(255, 228, 196, 0.527);
}
.pageOfTasks input.H62c6c6::placeholder {
    color: hsla(180, 47%, 58%, 0.525);
}
.pageOfTasks input.Hffe185::placeholder {
    color: rgba(255, 225, 133, 0.527);
}
.pageOfTasks input.Hcaff85::placeholder {
    color: rgba(202, 255, 133, 0.521);
}
.pageOfTasks input.H85ffca::placeholder {
    color: hsla(154, 100%, 76%, 0.527);
}
.pageOfTasks input.He185ff::placeholder {
    color: hsla(285, 100%, 76%, 0.537);
}
.pageOfTasks input.Hff85ce::placeholder {
    color: rgba(255, 133, 206, 0.523);
}
.pageOfTasks input.Hff8585::placeholder {
    color: hwb(0 52% 0% / 0.527);
}
.pageOfTasks input.H7cf8e8::placeholder {
    color: hsla(172, 90%, 73%, 0.539);
}
.pageOfTasks input.Ha173ff::placeholder {
    color: hsla(260, 100%, 73%, 0.523);
}
.pageOfTasks input.Hwhite::placeholder {
    color: rgba(255, 255, 255, 0.482);
}


/* task */

.pageOfTasks .tasks {
    margin: 20px 0;
}
.pageOfTasks .task {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #41404085;
    margin: 3px;
    border-radius: 5px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.pageOfTasks .task:hover {
    color: white !important;
    background-color: #2c2b2bcc;
    padding-top: 15px;
    padding-bottom: 15px;
}
.pageOfTasks .task > div {
    display: flex;
    gap: 10px;
}
.pageOfTasks .task > i {
    color: #a31313;
}
.pageOfTasks .calender-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgba(29, 31, 41, 0.61);
    padding: 20px;
}
.pageOfTasks .calender-img img {
    width: 120px;
}